@import "compass/css3/images";
@import "blueprint/buttons";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

#potentialWinners {
  display: none;
}

#winningContainer {
  height: 180px;
}

.winningTicket {
  @include background-image(image-url('ticket_smaller.png'));
  height: 150px;
  width: 300px;
  position: relative;

  p {
    margin: 0 auto;
    width: 175px;
    overflow: hidden;
    color: #000;
    vertical-align: middle;
    text-align: center;
    font-size: 1.75em;
    padding-top: 60px;
    line-height: 24px;
    height: 50px;
  }
}
