<div id="winningContainer">
  {{#if lastWinner}}
    {{view this.winningTicketView}}
  {{/if}}
</div>

<button id="pickerButton" {{action "pick"}}>Pick!</button>

{{#if winnerList}}
  <h2>Winner List</h2>
  {{#if potentialWinnersDepleted}}No more tickets to pick!{{/if}}
  <ul>
  {{#each winnerList}}
    <li>
    {{name}}
    </li>
  {{/each}}
  </ul>
{{/if}}
